.footer-07 {
    background-color: rgb(68, 67, 65);
    color: rgb(234, 234, 234);


}

.menu a {
    color: rgb(234, 234, 234);
    text-decoration: none;
    padding: 1rem
}
.menu i {
    color: rgb(234, 234, 234);
    text-decoration: none; 
}